# OS
.DS_Store

# Dependencies
node_modules/

# Binaries & media
cli/

# Legacy / build artifacts
dist/
dist-v1/
src/
src-adrian/
src-suba/

# Environment & secrets
.env
obs/path/

# Docker volumes
input/
output/

