# OS
.DS_Store

# Dependencies
node_modules/

# Binaries & media
cli/
*.mkv
*.mp4
*.avi
*.mov
*.wav
*.mp3
!tones/*.wav

# Legacy / build artifacts
dist/
src/
src-adrian/
src-suba/

# Environment & secrets
.env
obs/path/

# Docker volumes
input/
output/

