# OS
.DS_Store

# Dependencies
node_modules/

# Binaries & media
cli/
*.mkv
*.mp4
*.avi
*.mov
*.wav
*.mp3
!v2/tones/*.wav

# Legacy / build artifacts
dist/
dist-v1/
src/
src-adrian/
src-suba/

# Environment & secrets
.env
v2/obs/path/

# Docker volumes
v2/input/
v2/output/

